<html>
<head>
  <title>View Ubers in the Area, and order one via Uber API!</title>
</head>

<body>

  <div class="ui grid">
    <div class="twelve wide column">
      <div id="map" class="pusher">my map</div>
    </div>
    <div class="four wide column pusher">
      <h1 class="title">Available Ride Options</h1>
      <div id="accordion" class="ui styled accordion uberlist">
        <div class="active title">
          <i class="dropdown icon"></i>
          What is a dog?
        </div>
        <div class="active content">
          <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
        </div>
      </div>
    </div>
  </div>




</body>
</html>
