<html>
<head>
  <title>See Uber options from your location, cost range and trip duration to your destination!</title>
</head>

<body>

  <div class="ui grid">
    <div class="twelve wide column">
      <div id="map" class="pusher">my map</div>
    </div>
    <div class="four wide column pusher">
      <h1 class="title">Available Ride Options</h1>
      <div id="accordion" class="ui styled accordion uberlist">

      </div>
    </div>
  </div>

</body>
</html>
