<html>
<head>
 <title>Planned Events Map Viewer</title>
</head>

<body>

  <div class='ui fixed inverted menu'>
    <a class="title item">Events Map Viewer</a>
    <div class='right menu'>
      <div class='item'>
        <div class="huge ui inverted blue button">Sign in</div>
      </div>
    </div>
  </div>

  <div id="map">my map</div>

</body>
</html>
